/* General */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{

}
h1, h2, h3, p, a{
    font-family: 'Open Sans', var(--roboto);
}
h1 {
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--roboto);
}
h2 {
    font-size: 24px;
    font-weight: 700;
    color:var(--roboto)
}
h3 {
    font-size: 17px;
    font-weight: 700;
    color: var(--roboto);
}
p {
    font-size: 11px;
    font-weight: 400;
    color: var(--roboto);
}

:root {
    --lightOrange: #ffae00;
    --orange: #ff7800;
    --black: #000;
    --white: #fff;
    --bgcfooter: #252525;
    --inter: "Inter", sans-serif;
    --roboto: "Roboto", sans-serif;
    --shrik: "Shrikhand";
    --bgcButton: linear-gradient(198.58deg, #FF7800 15.56%, #FFAE00 100%);
    --bgcButtonHover: linear-gradient(198.58deg, #FFAE00 15.56%, #FF7800 100%);
}
.container1440 {
    max-width: 1440px;
    margin: auto;
    /* padding: 0px 15px; */
}
button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    font-weight: 500;
    font-family: var(--inter);
    cursor: pointer;
    background: var(--bgcButton);
    border-width: 0px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 30px;
    padding: 10px 16px;
    transition: all 0.2s ease-in-out;
    width: 100px;
    place-self: center;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    background: var(--bgcButtonHover);
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: #000;
}
.shadow{
    box-shadow: 0 0 10px rgb(157 130 130 / 50%);
}
/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header > div {
    display: none;
}

nav {
    display: block;
    justify-self: start;
    display: flex;
}

header > a {
    grid-column: 2;
}
.fa-solid{
    display: none;
}
header nav  ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14PX;
}
header nav ul li a:hover{
    color: var(--orange);
    transition: all 0.3s ease-in-out;
}
header h1 {
    color: var(--black);
    font-weight: 400;
    font-size: 30px;
    font-family: var(--shrik);
    text-align: center;
}
/* Section 1 */
#s1 {
    background: var(--lightOrange);
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 25px;
    padding: 20px;
    margin-bottom: 10px;
}
#s1 form{
    gap: 20px;
    margin: 20px auto;
}
#s1 div{
    margin: auto;
}
#chooseLocation {
    background: var(--lightOrange);
    border: none;
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: 20px;
    padding: 8px 0;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

::placeholder{
    color: var(--black);
    padding-left: 8px;
}
#s1 form button{
    width: 200px;
}

/* S2 */
#s2{
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0px 150px 0px 150px;
}
#s2 div{
    gap: 10px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
}
#content-1::before{
    content: "1";
    position: absolute;
    height: 10px;
    background-color: var(--orange);
    color: var(--white);
    top: 20%;
    left: -15px;
    border-radius: 50px;
    padding: 3px 8px 10px 8px;
}
#content-2::before{
    content: "2";
    position: absolute;
    height: 10px;
    background-color: var(--orange);
    color: var(--white);
    top: 20%;
    left: -15px;
    border-radius: 50px;
    padding: 3px 8px 10px 8px;
}
#content-3::before{
    content: "3";
    position: absolute;
    height: 10px;
    background-color: var(--orange);
    color: var(--white);
    top: 20%;
    left: -15px;
    border-radius: 50px;
    padding: 3px 8px 10px 8px;
}

/* s3 */

#s3{
    gap: 20px;
    background-color: var(--lightOrange);
    padding: 20px;
}
#s3 div article{
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    position: relative;
}
#s3 div article img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
#fingerWite:active{
    content: class="fa-solid fa-thumbs-up"  id="fingerBlack";
}
#s3 > h2{
    padding: 20px 0px 20px 0px;
}
#s3 article a{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#s3 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
#s3 > div >article:nth-child(2),article:nth-child(3) > p:nth-child(5){
    border-top: var(--lightOrange);
}

#s3 > div > article > p{
    padding-bottom: 10px;
    margin: 10px 0px 0px 10px;
    border-top: 1px solid var(--orange);
    padding-top: 20px;
}
.new::before{
    content: "New !";
    color: var(--white);
    font-family: var(--shrik);
    background: var(--orange);
    padding: 2px 15px;
    position: absolute;
    transform: rotate(-45deg);
    top: 15px;
    left: -10px;
}

#hand{
    display: none;
}
.fa-regular{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#hand:checked + label .fa-regular{
    color: var(--black);
    font-weight: 700;
}
#hand1{
    display: none;
}
#hand1:checked + label .fa-regular{
    color: var(--black);
    font-weight: 700;
}
#hand2{
    display: none;
}
#hand2:checked + label .fa-regular{
    color: var(--black);
    font-weight: 700;
}
#hand3{
    display: none;
}
#hand3:checked + label .fa-regular{
    color: var(--black);
    font-weight: 700;
}
#hand4{
    display: none;
}
#hand4:checked + label .fa-regular{
    color: var(--black);
    font-weight: 700;
}
#s3 > div > button{
    grid-column: span 2;
}
/* Footer */
footer{
    display: flex;
    background-color: var(--black);
    padding: 10px 10px 10px 10px;
    justify-content: center;
}
footer a{
    color: var(--white);
}
footer h1{
    color: var(--white);
    font-weight: 400;
    font-size: 30px;
    font-family: var(--shrik);
    margin-bottom: 10px;
}
footer ul{
    margin-left: 40px;
    display: flex;
    gap: 40px;
    line-height: 25px;
    align-items: center;
}
footer ul li a:hover{
    color: var(--orange);
    transition: all 0.3s ease-in-out;
}
/* RESONSIVE */
@media only screen and (min-width: 768px) and (max-width:1024px) {
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        align-items: center;
    }
    header nav{
        display: none;
    }
    body > header > a:nth-child(3){
        display: contents;
        text-align: end;
    }
    .fa-solid{
        display: block;
    }
    h2{
        font-size: 22px;
        margin: 10px 0px 10px 0px;
    }
    #s2{
        padding: 0px 20px 0px 20px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    footer ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 0px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        align-items: center;
    }
    header nav{
        display: none;
    }
    body > header > a:nth-child(3){
        display: contents;
        text-align: end;
    }
    .fa-solid{
        display: block;
    }
    h2{
        font-size: 22px;
        margin: 10px 0px 10px 0px;
    }
    #s3 div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }
    #s2{
        padding: 0px 20px 0px 20px;
    }
    #s3 div{
        display: flex;
        flex-direction: column;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    footer ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
        margin: 0px;
    }
}

#loader {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid var(--white);
    border-top: 5px solid var(--orange);
    border-radius: 50%;
    animation: spin 2s linear normal;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
#loader::before {
    background-color: var(--lightOrange);
}
@keyframes hideloader {
    to{
        opacity: 1;
    }
}
#loader{
    visibility: visible;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(360deg);}
}
@media (min-width: 0px) {
    .hiden::after {
        content: '';
        display: block;
        opacity: 0;
        animation: hideLoader 1s forwards; 
    }
}